<!DOCTYPE html>
<html lang="zh_cn">

<head>
  <title>Fcidd | 开发工具</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="./css/bootstrap/bootstrap.css">
  <link rel="stylesheet" href="./css/bootstrap/bootstrap-icons.css">
  <link rel="stylesheet" href="./css/common/common.css">
  <link rel="stylesheet" href="./css/devTools.css">
</head>

<body class="bg">
  <!-- 导航条开始 -->
  <div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container container-fluid">
        <a class="navbar-brand" href="./">Fcidd</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="./">主页</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="./tools">在线工具</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#">开发工具</a>
            </li>
          </ul>
          <form class="d-flex">
            <button class="btn btn-outline-light" type="button" data-bs-toggle="tooltip" data-bs-placement="bottom"
              title="正在开发中">登录</button>
          </form>
        </div>
      </div>
    </nav>
  </div>
  <!-- 导航条结束 -->
  <!--正文开始-->
  <div class="container">
    <div class="row">
      <div class="card col-2">
        <img src="./img/devTools/jetbrains.jpg" class="card-img-top" alt="jetbrains Logo">
        <div class="card-body">
          <h5 class="card-title">jetbrains系列开发工具</h5>
          <p class="card-text">jetbrains系列开发工具是现在最好用的开发工具</p>
          <a href="https://www.jetbrains.com/products/" target="_blank" class="btn btn-primary">官网下载</a>
        </div>
      </div>

      <div class="card col-2">
        <img src="./img/devTools/VisualStudioCode.jpg" class="card-img-top" alt="jetbrains Logo">
        <div class="card-body">
          <h5 class="card-title">Visual Studio Code</h5>
          <p class="card-text">Visual Studio Code是轻量化编程编辑工具</p>
          <a href="https://code.visualstudio.com/" target="_blank" class="btn btn-primary">官网下载</a>
        </div>
      </div>
    </div>
  </div>
  <!--正文结束-->
  <!-- 底部信息开始 -->
  <footer class="footer">
    <h5 class="container"><img src="./img/beian.png"><a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=34010202601685">皖公网安备 34010202601685号</a> ICP证：<a href="https://beian.miit.gov.cn/" target="_blank">皖ICP备20011737号-1</a></h5>
  </footer>
  <!-- 底部信息结束 -->

  <script src="./js/bootstap/popper.js"></script>
  <script src="./js/bootstap/bootstrap.js"></script>
  <script src="./js/jquery/jquery.js"></script>
  <script src="./js/tools/enableTips.js"></script>
</body>

</html>