.bg {
    background: url(../img/tools/bg.jpg) no-repeat center 0px;
    background-position: center 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
}

.container > .card {
    margin-top: 1rem;
}