@charset "UTF-8";
.footer{
  height: 40px;
  line-height: 40px;
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #fff;
  font-family: Arial;
  font-size: 12px;
  letter-spacing: 1px;
}
footer>h5>a{
  color: #d8ff00;
  text-decoration: none;
}